<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico" />

    <title>IE tool evaluator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <textarea rows="10" cols="30" class="form-control">[[${email.getBody()}]]</textarea>

                <form th:action="@{/evaluate/save}" th:object="${evaluation}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{email}">
                    <div class="form-group">
                        <label for="">modelType</label>
                        <input type="text" class="form-control" th:value="${cargo.modelType}">

                    </div>
                    <div class="form-group">
                        <label for="">description</label>

                        <input type="text" class="form-control" th:value="${cargo.description}">

                        <div class="form-check form-check-inline">
                            <input name="description" th:checked="*{isDescription()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="description" th:checked="*{isDescription()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">quantity</label>

                        <input type="text" class="form-control" th:value="${cargo.quantity}">

                        <div class="form-check form-check-inline">
                            <input name="quantity" th:checked="*{isQuantity()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="quantity" th:checked="*{isQuantity()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">commision</label>

                        <input type="text" class="form-control" th:value="${cargo.commision}">

                        <div class="form-check form-check-inline">
                            <input name="commision" th:checked="*{isCommision()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="commision" th:checked="*{isCommision()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">loading_port</label>

                        <input type="text" class="form-control" th:value="${cargo.loading_port}">

                        <div class="form-check form-check-inline">
                            <input name="loading_port" th:checked="*{isLoading_port()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="loading_port" th:checked="*{isLoading_port()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">discharging_port</label>

                        <input type="text" class="form-control" th:value="${cargo.discharging_port}">

                        <div class="form-check form-check-inline">
                            <input name="discharging_port" th:checked="*{isDischarging_port()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="discharging_port" th:checked="*{isDischarging_port()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">laycan_first</label>

                        <input type="text" class="form-control" th:value="${cargo.laycan_first}">

                        <div class="form-check form-check-inline">
                            <input name="laycan_first" th:checked="*{isLaycan_first()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="laycan_first" th:checked="*{isLaycan_first()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">laycan_last</label>

                        <input type="text" class="form-control" th:value="${cargo.laycan_last}">

                        <div class="form-check form-check-inline">
                            <input name="laycan_last" th:checked="*{isLaycan_last()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="laycan_last" th:checked="*{isLaycan_last()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="">loading_rate</label>
                        <input type="text" class="form-control" th:value="${cargo.loading_rate}">

                        <div class="form-check form-check-inline">
                            <input name="loading_rate" th:checked="*{isLoading_rate()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="loading_rate" th:checked="*{isLoading_rate()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">discharging_rate</label>
                        <input type="text" class="form-control" th:value="${cargo.discharging_rate}">

                        <div class="form-check form-check-inline">
                            <input name="discharging_rate" th:checked="*{isDischarging_rate()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="discharging_rate" th:checked="*{isDischarging_rate()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">loading_rate_type</label>
                        <input type="text" class="form-control" th:value="${cargo.loading_rate_type}">

                        <div class="form-check form-check-inline">
                            <input name="loading_rate_type" th:checked="*{isLoading_rate_type()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="loading_rate_type" th:checked="*{isLoading_rate_type()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">

                        <label for="">discharging_rate_type</label>
                        <input type="text" class="form-control" th:value="${cargo.discharging_rate_type}">

                        <div class="form-check form-check-inline">
                            <input name="discharging_rate_type" th:checked="*{isDischarging_rate_type()}" th:value="1"
                                class="form-check-input" type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="discharging_rate_type" th:checked="*{isDischarging_rate_type()}" th:value="0"
                                class="form-check-input" type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">stowage_factor</label>
                        <input type="text" class="form-control" th:value="${cargo.stowage_factor}">

                        <div class="form-check form-check-inline">
                            <input name="stowage_factor" th:checked="*{isStowage_factor()}" th:value="1" class="form-check-input"
                                type="radio" id="correct">
                            <label class="form-check-label" for="correct">correct</label>

                            <input name="stowage_factor" th:checked="*{isStowage_factor()}" th:value="0" class="form-check-input"
                                type="radio" id="incorrect">
                            <label class="form-check-label" for="incorrect">incorrect</label>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</body>

</html>